{% extends 'equipamiento/base.html' %}

{% block title %}LINTAC ACCESS{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido a LINTAC ACCESS!</h1>
        <p class="lead">Este es un sistema diseñado para facilitar la gestión y el seguimiento del equipamiento dentro de nuestra organización.</p>
        <hr class="my-4">
        <p>Utiliza la barra de navegación para acceder a las diferentes secciones del sistema.</p>
    </div>
</div>
{% endblock %}
